.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 25px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 53px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-text-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  margin-bottom: 27px;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
