.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 27px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 84px;
    padding-bottom: 20px;
    max-width: 1440px;
  }
}

.faq-container {
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-swiper-container {
  max-width: 198px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.faq-swiper-container.show {
  visibility: visible;
}

.faq-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    gap: 17px;
  }
}

.faq-slide {
  background: #fff;
  border-radius: 15px;
  padding: 24px;
  max-width: 198px;
  min-height: 268px;

  @include media(desktop) {
  }
}

.faq-item-title {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: #ce2200;
  margin-bottom: 10px;

  @include media(desktop) {
  }
}

.faq-item-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: #1e1e1e;

  @include media(desktop) {
  }
}
