.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 22px;
  padding-bottom: 10px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 84px;
    padding-bottom: 0;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-text-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.16667;
    margin-bottom: 53px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
