.footer {
  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 45px;
  padding-bottom: 45px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 30px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
  }
}

.footer-list-item {
}

@include media(desktop) {
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  text-transform: uppercase;
  text-align: right;
  color: #1e1e1e;

  @include media(desktop) {
  }
}

.footer-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.footer-span {
  color: #ce2200;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.33333;
  text-transform: uppercase;
  text-align: center;
  color: #ce2200;

  @include media(desktop) {
  }
}
