.header {
  background: #f3ffe1;
  padding: 4px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 23px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media(desktop) {
    justify-content: center;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ce2200;
  min-width: fit-content;

  @include media(desktop) {
    display: none;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Iosevka Charon Mono', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #ce2200;
    transition:
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
