.context-menu {
  display: none;
  background: #f3ffe1;
  padding: 30px 15px 48px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}

.context-list-item {
  position: relative;
}

.context-list-link {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ce2200;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
