.policy-section {
  background: #f3ffe1;

  @include media(desktop) {
  }
}

.policy-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 140px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.policy-main-title {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.875;
  text-transform: uppercase;
  color: #1e1e1e;
  margin-bottom: 30px;

  @include media(desktop) {
    text-align: left;
    font-size: 32px;
    line-height: 0.875;
    margin-bottom: 50px;
  }
}

.policy-title {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #ce2200;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #1e1e1e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #1e1e1e;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
