.progress-section {
  @include media(desktop) {
  }
}

.progress-section-wrapper {
  padding-top: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 84px;
    max-width: 1440px;
  }
}

.progress-container {
  @include media(desktop) {
  }
}

.progress-content-wrapper {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.progress-text-wrapper {
  @include media(desktop) {
    width: 100%;
    max-width: 550px;
  }
}

.progress-title {
  @include media(desktop) {
  }
}

.progress-subtitle {
  @include media(desktop) {
    text-align: left;
  }
}

.features-top-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    text-align: left;
  }
}

.progress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 262px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: max-content;
    margin: 0;
    margin-bottom: 24px;
  }
}

.progress-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.progress-img {
  min-width: 29px;

  @include media(desktop) {
  }
}

.progress-item-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16667;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;

  @include media(desktop) {
    font-size: 24px;
    line-height: 0.58333;
  }
}

.progress-bottom-text {
  font-family: 'Iosevka Charon Mono', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: #1e1e1e;

  @include media(desktop) {
    font-size: 24px;
    text-align: left;
  }
}

.progress-bg-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 55px;

  @include media(desktop) {
    margin: 0;
    display: none;
  }
}

.progress-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
