<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">SIGNAL NETWORKS</h2>
          <p class="section-subtitle features-subtitle">
            It's all about getting the range right.
          </p>
          <p class="features-text">
            Every tower broadcasts a signal across a circular range. For a
            message to travel successfully, each tower must fall within the
            range of the next.<br />
            If you mess up the placement, you'll get gaps in your network. Sure,
            you could just throw towers everywhere, but the game actually
            rewards you for being efficient.<br />
            The best setups are the ones that work without throwing towers all
            over the place.
          </p>
        </div>
      </div>
      <picture>
        <source
          srcset="./img/features/features-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="793"
        />
        <source
          srcset="./img/features/features-bg-mob.jpg"
          width="345"
          height="459"
        />
        <img
          class="features-img"
          src="./img/features/features-bg-mob.jpg"
          alt="Screenshot of the game"
          width="345"
          height="459"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
