<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">CORE MECHANICS</h2>
      <p class="section-subtitle gameplay-subtitle">
        You basically just place towers, connect them up, and watch the signal
        go through.
      </p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img.png"
            alt="Screenshot of the game"
            width="38"
            height="36"
          />
          <p class="gameplay-item-text">
            Place signal towers across the landscape
          </p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img.png"
            alt="Screenshot of the game"
            width="38"
            height="36"
          />
          <p class="gameplay-item-text">
            Ensure signal ranges overlap between towers
          </p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img.png"
            alt="Screenshot of the game"
            width="38"
            height="36"
          />
          <p class="gameplay-item-text">
            Connect the starting beacon with the destination receiver
          </p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img.png"
            alt="Screenshot of the game"
            width="38"
            height="36"
          />
          <p class="gameplay-item-text">
            Solve each level using limited tower placements
          </p>
        </li>
        <li class="gameplay-list-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img.png"
            alt="Screenshot of the game"
            width="38"
            height="36"
          />
          <p class="gameplay-item-text">
            Get everything hooked up right and the signals just do their thing.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
