<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            So you've got this huge empty field, and somehow you need to get
            your signal from one end to the other.
          </h1>
          <p class="hero-text">
            So there's this huge, quiet landscape, and you've got a message that
            needs to get across it somehow.<br />
            Between the starting beacon and the distant receiver lies only open
            terrain.<br />
            Basically, you're building these tower chains to carry messages
            across the field. Each tower must connect with the next, forming a
            stable communication path.
          </p>
          <p class="hero-subtitle">
            The land is wide.<br />
            Your network must be precise.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
