<section class="progress-section section" id="progress">
  <div class="progress-section-wrapper">
    <div class="container progress-container">
      <div class="progress-content-wrapper">
        <div class="progress-text-wrapper">
          <h2 class="section-title progress-title">TERRAIN CHALLENGES</h2>
          <p class="section-subtitle progress-subtitle">
            Sometimes the map's just being a pain and nothing wants to line up
            right.
          </p>
          <p class="features-top-text">
            Later levels introduce terrain features that affect signal
            transmission.
          </p>
          <ul class="progress-list">
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">hills that weaken signals</p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">valleys that distort range</p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">
                obstacles that block tower placement
              </p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">environmental interference zones</p>
            </li>
          </ul>
          <p class="progress-bottom-text">
            So you'll have to get creative and figure out how to route around
            all this stuff that gets in your way.
          </p>
        </div>
        <img
          class="progress-bg-img"
          src="./img/progress/progress-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="250"
        />
        <div class="progress-text-wrapper">
          <h2 class="section-title progress-title">LEVEL PROGRESSION</h2>
          <p class="section-subtitle progress-subtitle">
            From simple connections to complex networks.<br />
            <br class="progress-br" />
          </p>
          <p class="features-top-text">
            Early levels focus on understanding signal range and placement.
          </p>
          <ul class="progress-list">
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">larger landscapes</p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">stricter tower limits</p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">complex terrain interference</p>
            </li>
            <li class="progress-list-item">
              <img
                class="progress-img"
                src="./img/progress/progress-img.png"
                alt="Screenshot of the game"
                width="29"
                height="30"
              />
              <p class="progress-item-text">multi-path routing challenges</p>
            </li>
          </ul>
          <p class="progress-bottom-text">
            After a while you stop just throwing towers around and actually
            start thinking about where to put them.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
